*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

html,body{
    display: flex;
    align-items: center;
    justify-content:center;
    height:100vb;
    background-color: darkslategray;
}

.container{
    height: 500px;
    width: 800px;
    background-color: black;
    color: rgb(237, 239, 234);
    display: flex;
    align-items: center;
    flex-direction: column;
    position:relative;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.24);
}

.color{
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
}

.color-1{
    background-color: color-mix(in srgb-linear, color percentage, color percentage);
}

.color-2{
    background-color: color-mix(in hsl shorter hue, color percentage, color percentage);
}

.currency_convert{
    height: 400px;
    width: 600px;
    background-color: rgb(4, 36, 40);
    position:relative;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.24);
    top: 200px;
    border-radius: 10px;
    left: 60%;
    transform-origin: inherit;
    display: flex;
    flex-direction: column;
}

.flexrow{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.currency_convert{
    width: 600px; ;
    height: 400px;
    color: white;
    display: flex;
    flex-direction:column;
    gap: 10px;
    padding: 20px;
   background-color: rgb(3, 33, 46);
   border-radius: 20px;
}

.exchange{
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.output{
    padding-right:50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.outputlabel{
    font-weight: 500;
    letter-spacing: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.exchange button{
    height: 50px;
    width: 150px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

.currency_convert input, .currency_convert select{
    background-color: rgb(64, 84, 88);
    height: 30px;
    width: 100%;
    border-radius: 5px;
    padding: 4px;
}

